@model PortfolioManager.Models.PRICE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRICE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BidPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SecurityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
