@model PortfolioManager.Models.BOND

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BOND</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Issuer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issuer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coupon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatYear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SecurityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
