@using PortfolioManager.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@Styles.Render("~/Content/account.css")

<div class="AccountHomeBody">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="panel panel-primary AccountFormPanel">
                <div class="panel-heading">
                    <h2>Login</h2>
                </div>
                <div class="panel-body">


                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9 accountTextBox">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9 accountTextBox">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Email"></label>
                        <div  class="col-md-9 rememberMe">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="accountSubmit">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>

                   
                </div>
                <div class="form-group">
                    <div style="float:left">@Html.ActionLink("No account? Register", "Register")</div>
                    <div style="float:right">@Html.ActionLink("Forget Password?", "ForgotPassword")</div>
                </div>
            </div>
        }
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}